*{margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -khtml-box-sizing: border-box; -ms-box-sizing: border-box;}
h1, h2{ font-family: 'Roboto', serif;font-weight: 700;}
a{color:#2c2928;text-decoration: none;}
a:hover{ text-decoration: none; color:#ed54a3;}

input, a:focus, button:focus{outline: none!important;text-decoration: none;}
ul{margin: 0; padding: 0; list-style: none;}
img{border: 0; max-width: 100%;}
.topmenu ul li a{ transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out;}
body {font-family: 'Roboto', sans-serif; font-weight:400; color:#2c2928; font-size: 15px; }

.searchicon, .profileicon, .wishlisticon, .carticon, .mapicon, .phoneicon, .mailicon, .originalicon, .returenicon, .deliveryicon, .sslicon, .payimg, .facebookicon, .twittericon, .linkedinicon, .carticonw, .wishlisticonw, .offericon, .detailicon, .detailicon1{	background: url(../images/sprites.png) no-repeat; display: inline-block; vertical-align: middle;}
.searchicon{background-position: -15px -16px;	width: 17px;height: 17px;}
.profileicon{background-position: -62px -10px;	width: 24px;height: 23px;}
.wishlisticon{background-position: -113px -10px; width: 23px;height: 21px;}
.carticon{background-position: -163px -10px; width: 25px;height: 27px;}
.mapicon{background-position: -215px -14px; width: 17px;height: 21px;}
.phoneicon{background-position: -264px -17px; width: 19px;height: 18px;}
.mailicon{background-position: -313px -18px; width: 20px;height: 15px;}
.originalicon{background-position: -386px 0;width: 66px; height: 39px;}
.returenicon{background-position: -484px 0;	width: 58px; height: 50px;}
.deliveryicon{background-position: -418px -60px; width: 47px; height: 30px;}
.sslicon{background-position: -574px 0;	width: 66px;height: 66px;}
.payimg{background-position: 0 -115px ;	width: 443px;height: 26px;}
.facebookicon{background-position: -19px -67px ;width: 11px;height: 19px;}
.twittericon{background-position: -62px -68px ;	width: 17px;height: 15px;}
.linkedinicon{background-position: -114px -67px ;width: 17px;height: 16px;}
.carticonw{background-position: -163px -63px ;width: 22px;height: 24px;}
.wishlisticonw{background-position: -212px -64px ;width: 24px;height: 22px;}
.offericon{background-position: -364px -63px ;width: 22px;	height: 22px;}
.detailicon{background-position: -315px -62px ;	width: 19px;height: 24px;}
.detailicon1{background-position: -259px -69px ;width: 31px;height: 15px;}





header {padding:14px 25px 16px; transition: all 0.3s ease 0s; width: 100%; z-index: 1000;  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08);}



.sticky { }
.fullwidth{width: 100%; float: left;}
.logo{margin-top:8px; float: left;}

.topmenu{ float: left; margin-left:40px;}
.topmenu > ul > li{float: left; }
.topmenu > ul > li > a{display: block; padding:15px 25px; font-size: 15px; color:#2c2928; font-weight: 700; text-transform: uppercase;}

.searchform{background:#f6f6f6; float: right; width: 470px; height: 42px; border-radius: 3px; margin-top: 3px; margin-right: 30px;}
.searchform input{width:calc(100% - 40px); float: right; border: none; padding:0 10px; line-height: 42px; background: none; font-size: 12px; font-weight: 400;}
.searchform button{width:40px; border:none; background: none; line-height: 42px; text-align: center; float: left;}
.topright{ float: right;}
.topright > ul > li{float: left; margin-left:30px;  }
.topright > ul > li > a{font-weight: 700; font-size: 12px; text-align: center; display: block;}
.topright > ul > li > a span{display: block;}
.topright > ul > li > a i{height: 30px;}


.banner{}
.banner img{ width: 100%;}


.heading{font-size: 40px; font-weight: 900; text-transform: uppercase;}
.heading small{text-transform: capitalize;font-size: 16px; font-weight:700;}
.tranindingsec{background:#f6f6f7; padding: 50px 0;}
.tranindingsec ul{margin: 0 -10px;}
.tranindingsec ul li{width: 33.33%; padding:20px 10px; float: left;}
.tranindingsec ul li span{display: block; background:#fff; padding:30px 40px; font-size: 23px; text-transform: uppercase; font-weight: 700;}

.bestsellers{ padding: 50px 0;}
.sellerslider{margin: 20px 0;}
.owl-carousel .owl-item img.hoverimg, .hoverimg{ display:none;}
.owl-carousel .owl-nav{font-size: 0;}
.owl-carousel .owl-nav button{position: absolute; top: 50%; margin-top: -15px;}
.owl-carousel .owl-nav button.owl-prev{ left:-40px;}
.owl-carousel .owl-nav button.owl-next{ right:-40px;}
.owl-carousel .owl-nav button span{ width: 30px; height: 30px; border-left:4px solid #000; border-bottom:4px solid #000; display: inline-block; transform: rotate(45deg); opacity: 0.4;}
.owl-carousel .owl-nav button.owl-next span{transform: rotate(-135deg);}
.owl-carousel .owl-nav button:hover span{opacity: 1;}

.product{background:#f1f1f1;}
.product img{width: 100%;}
.flip-inner{ width: 100%; height: 100%; transition: transform 0.6s;  transform-style: preserve-3d; position: relative;}
.product:hover .flip-inner{transform: rotateY(180deg);}
.flip-front, .flip-back {position: absolute; width: 100%; height: 100%; backface-visibility: hidden; top: 0; left: 0;}
.flip-front {}
.flip-back { transform: rotateY(180deg);}
.product span{font-size: 18px; font-weight: 700; padding: 15px 0; display: block; background:#fff;}
.procont{background:#fff;}
.procont p{margin: 0; color:#616161;font-size: 14px;}
.procont p span{padding:5px 0 0; font-size: 14px; font-weight: 700; color:#353333;}
.procont p strong{font-size: 16px; font-weight: 700; color:#353333; vertical-align: middle;}
.procont p small{padding:0 5px; font-size: 20px; font-weight:500; color:#e41881; vertical-align: middle;}
.procont p del{ font-size: 15px; vertical-align: middle;}

.brandsec{background:#f6f6f7; padding: 50px 0;}
.brandsec ul{margin: 0 -10px;}
.brandsec ul li{width: 33.33%; padding:20px 10px; float: left;} 
.brandbox span{ width: 266px; margin:-20px auto 0; display: block; background:#f6f6f7; position: relative; padding: 15px; text-align: center; height: 70px;}
.brandbox span img{max-height: 50px; max-width: 150px; }

.videoimg img{ width: 100%;}
.videoimg iframe{width: 100%; height:450px;}

.followsec{padding: 50px 0;}
.followsec ul{margin: 0 -10px;}
.followsec ul li{width:25%; padding:20px 10px; float: left;}
.socialbtn{width: 280px; margin:40px auto 0; display:block; text-transform: uppercase; text-align: center; padding: 12px; background:#e41881; color:#fff; font-size: 15px; font-weight: 400;}
.socialbtn:hover{color:#000;}



footer{background:#f5f5f6;  }
footer .container{width: 100%; max-width:1600px; padding: 0 25px;}
.footer1{padding: 50px 0;}
.fbox{width: 18%; float: left; font-size: 14px; padding:0 30px;}
.fbox li{padding:5px 0;}
.fbox.flogo{padding: 0 20px 0 0;}
.fbox.faddress{width: 28%;}
.faddress p{position: relative; padding-left:35px;}
.faddress p i{position: absolute; left: 0; top: 4px;}
footer h4{ margin-bottom: 15px; font-weight:900; font-size: 15px; text-transform: uppercase;}
footer p{ }
.fbottom{border-top: 1px solid #e4e4e4; padding: 30px 0;}

.paysec, .sslsec{ display: inline-block;}
.sslsec{ padding:0 80px;}
.ficons{ float: right; width: 50%;}
.ficons ul li{ display: inline-block;   width: 28%; padding-left: 15px; padding-top: 10px; vertical-align: top;}
.ficons ul li i{vertical-align:top;}
.ficons ul li span{font-size: 16px; line-height: 20px; font-weight: 700; width:calc(100% - 70px); display: inline-block; padding-left: 10px;}
.ficons ul li span small{font-size: 15px; font-weight: 400;}
.ficons ul li:nth-child(2){width: 33%;}
.ficons ul li:nth-child(3){width: 38%;}

.breadcrumbs{padding: 20px 0; font-size: 14px; color:#ed54a3;}
.breadcrumbs a:after{content:"/"; margin:0 6px;}

.filtertitle{ border-bottom:1px solid #ededef; padding: 5px 0;}
.filtertitle > span{font-size: 20px; font-weight: 700; display: inline-block; line-height:40px;}
.shortby{float: right; border:1px solid #cacaca; padding:8px 10px;}


.sidebarsec{width:280px; float: left;}
.sidebarsec + .rightcontent{width:calc(100% - 305px); float: right; border-left:1px solid #ededef; padding-left: 30px;}

.listpro{margin: 0 -15px;}
.listpro > li{ width: 33.33%; padding: 15px; float: left;}

.sidetitle{font-size: 16px; font-weight: 700; text-transform: uppercase; margin-top: 15px; margin-bottom: -5px;}
.sidetitle span{float: right;}

.catlist  > ul > li > span:after{content:""; display: inline-block; width:6px; height: 6px; position: absolute; right: 0; top: 5px;  border-top: 1px solid #85878e; border-right: 1px solid #85878e; transform: rotate(45deg);}
.catlist  > ul > li.active > span:after{transform: rotate(135deg);}

.boxs{border-bottom: 1px solid #e6e7ec; color:#2c2928; padding: 14px 0; }

.boxs > ul > li{padding: 5px 0;}
.boxs > ul > li > span{font-size: 13px; font-weight: 500; text-transform: uppercase; position: relative; display: block;}
.boxs > ul > li > ul{ }
.boxs.catlist > ul > li > ul{display:none;}
.boxs > ul > li > ul > li{margin:7px 0; display: block;}
.boxs > ul > li > ul > li span{font-size: 14px; font-weight:400; opacity: 0.77; padding-left:24px; position: relative; cursor: pointer;}
.boxs li label{margin: 0;}
.boxs li label input[type=checkbox]{opacity: 0; position: absolute;}
.boxs li label input[type=checkbox] + span:before{content:""; display: inline-block; width: 16px; height: 16px; border: 1px solid #ccc; position: absolute; left: 0;} 
.boxs li label input[type=checkbox]:checked + span:after{content:""; display: inline-block; width:6px; height: 10px; border-right: 2px solid #000; border-bottom: 2px solid #000;opacity: 1; position: absolute; left: 5px; top:2px; transform: rotate(45deg);}
.boxs li label input[type=checkbox]:checked + span{opacity: 1;} 

.boxs.colors {}
.boxs.colors li label input[type=checkbox] + span:before{border-radius: 50%; border:none;}
.boxs.colors li label input[type=checkbox]:checked + span:after{border-right: 2px solid #ccc; border-bottom: 2px solid #ccc;}
.beige-color:before{background:#f5f1de;}
.black-color:before{background:#000;}
.blue-color:before{background:#0060ff;}
.gold-color:before{background:#d4af37;}
.grey-color:before{background:#d3d3d3;}

.dtimg{width: 50%; float: left;}
.dtimg li{width: 50%; padding:5px; float: left;}
.dtright{width: 50%; float: left; padding: 0 60px;}
.dtright h1{font-size: 30px; font-weight: 900;}
.pricetitle p{font-size: 16px;}
.pricetitle p span{font-size:30px;font-weight:700; padding-bottom: 5px; vertical-align: middle;}
.pricetitle p del{font-size: 18px; color:#757780; padding: 0 10px}
.pricetitle p small{font-size:15px; color:#e41881;}
.deshborder{border-bottom: 1px dashed #484645; padding-bottom: 15px;}
.prices{margin-bottom:5px;}
p.additionals{font-size: 13px; margin: 0;}

.similarpro{border-top: 1px solid #e8e9eb; margin: 40px 0; padding: 30px 0;}
.similarpro li{width: 25%;}
.heading2{font-size: 21px; font-weight:700; text-transform: uppercase;}

.selectsize{font-weight: 700; margin-top:30px; text-transform: uppercase;}
.sizechart{margin-left: 50px; font-size: 13px; padding-right: 10px; color:#e41881;font-weight: 700; position: relative;}
.sizechart:after{content:""; display: inline-block; margin-left: 5px; width:7px; height: 7px; position: absolute; right: 0; top: 4px;  border-top:2px solid #2c2928; border-right:2px solid #2c2928; transform: rotate(45deg);}
.selectsize label{ margin:8px 8px 0px 0px; width: 46px; height: 46px; border-radius: 50%; border:1px solid #cacaca; text-align: center;display: inline-block; cursor: pointer;}
.selectsize label span{ opacity: 0.5; line-height: 44px;}
.selectsize label input[type=checkbox]{opacity: 0; position: absolute;}
.selectsize label input[type=checkbox]:checked + span{opacity: 1;} 

.btnsec{margin-top:15px;}
.btnsec button{width: 230px; height:50px; font-size: 15px; font-weight: 700; color:#fff; line-height: 50px; border:none; background:#2c2928; cursor: pointer;}
.btnsec button:hover{opacity: 0.9;}
.btnsec button.addtobag{ background:#e41881;}
.btnsec button i{margin-right: 5px; vertical-align: middle;}

.bestoffer{margin-top: 30px;}
.bestoffer span{font-weight: 700; font-size: 16px;}
.bestoffer ul{ }
.bestoffer li{color:#616161; font-size: 14px; position: relative; padding-left: 15px; margin: 5px 0;}
.bestoffer li:before{ content: "\2022"; font-size: 28px; color:#2c2928; position: absolute; left: 0; top: 0px; line-height: 20px;}

.prodt{margin-top: 30px;}
.prodt div strong {font-size: 16px; color:#2c2928;}
.prodt ul li{font-size: 14px; padding: 3px 0; color:#616161;}
.prodt ul li strong{color:#2c2928;}
.specifications{margin-top:20px; color:#616161;}
.specifications strong{display: block; color:#2c2928;}

.details{font-size: 13px;color:#616161; font-weight: 400;}
.details li{display: inline-block; min-width: 48%; padding: 3px 0;}
.details li span{display: inline-block; min-width: 100px; position: relative; margin-right: 15px;}
.details li span:after{content:":"; position: absolute; right: 0;}

.checkavel{margin-top:30px;}
.checkdelivery{ margin: 5px 0;  border:1px solid #e41881; width: 300px;}
.checkdelivery input{border: none; width: calc(100% - 80px); line-height: 40px; padding:0 15px}
.checkdelivery button{width: 80px; height: 40px; text-align: center; color:#e41881; border: none; background: none;}
.checkavel p{font-size: 16px; margin: 0;}
.checkavel p small{font-size: 13px; color:#616161;}


.navicon{display: none;}
@media (min-width:1350px) {
	.container{max-width: 1300px;}
	
}


@media (min-width: 1599px) {	 
	.innerlist .container, .breadcrumbs .container{max-width: 1500px;}
}



@media (max-width: 1599px) {
	.ficons{width: 54%; }
	.sslsec {padding:0 40px;}
}

@media (max-width: 1440px) {
.searchform{ width: 400px; margin-right:20px;}
.owl-carousel .owl-nav button.owl-prev{ left:-30px;}
.owl-carousel .owl-nav button.owl-next{ right:-30px;}
.sslsec{padding:0 20px;}
	.ficons{width: 55%; }
	.ficons ul li{padding-left: 10px;}
	.ficons ul li span{font-size: 15px; padding-left: 5px;}
	.ficons ul li:nth-child(3) {width: 36%;}
}

@media (max-width:1349px) {
.sidebarsec{width:240px;}
.sidebarsec + .rightcontent{width:calc(100% - 265px);}
	.topmenu > ul > li > a {padding: 15px 20px;}
	.searchform {width: 330px;}
	.topright > ul > li {margin-left: 20px;}
	.details li span{width: 90px; margin-right: 10px;}
	.btnsec button{width: 210px;}
	
}

@media (max-width: 1199px) {
	.topmenu {margin-left: 20px;}
	.searchform {width: 300px; margin-right: 0;}
	.topmenu > ul > li > a {padding: 15px; font-size: 14px;}
	.sidebarsec{width:200px;}
.sidebarsec + .rightcontent{width:calc(100% - 230px);}
	.dtright{padding: 0 0 0 30px;}
	.btnsec button {width: 190px;}
	.fbox {font-size: 13px;}
	.ficons {width: 100%;}
}

@media (max-width: 1023px) { 
.searchform{width: 100%;}
}

@media (max-width: 991px) { 
	.sidebarsec{width:180px; }
.sidebarsec + .rightcontent{width:calc(100% - 200px);}
	.listpro > li{width: 50%;}
	
	.selectsize, .bestoffer, .prodt, .checkavel{margin-top: 20px;}
	.dtright h1 {font-size: 22px;}
	.selectsize label {margin: 5px 5px 0px 0px;width: 40px;	height: 40px;}
	.selectsize label span {line-height: 40px;font-size: 14px;}
	.pricetitle p, .checkavel p {font-size: 14px;}
	.prodt p, .prodt ul li{font-size: 13px;}
	.btnsec button {width: 100%;margin-top: 5px;}
	
	.footer1 {padding: 40px 0px 20px;}
	.fbox{width: 25%;}
	.fbox.faddress {width: 100%;padding: 15px 0 0;}
	.fbox.faddress br { display: none;}
	
}

@media (max-width: 767px) {
 header{ padding: 10px 15px 10px;}
	.logo{width: 120px; margin-top: 3px; margin-bottom: 10px;}
	.topright > ul > li {margin-left: 12px;}
.navicon{display: block; float: right; cursor: pointer; position: absolute; top: 10px; right:15px; z-index: 99; width: 30px; height: 30px; padding-top: 15px;}
.navicon span{ width:18px; height: 2px; background:#203351; position: relative; display: block;}
.navicon span:before, .navicon span:after{content:""; width: 25px; height: 2px; background:#203351; display: block; position: absolute; left: 0;}
.navicon span:after { width: 18px;  }
.navicon span:before{top: -6px;   }
.navicon span:after{bottom: -7px; }
/*REMOVE FOR*/
.active span:before, .navicon span:after { width: 18px; }

.navicon.active{position: fixed;}
.navicon.active span{ background: none;}
.navicon.active span:before{ transform: rotate(-48deg);}
.navicon.active span:after{ transform: rotate(45deg); bottom: 6px;}
	.topmenu{display: none;}
	.topright {margin-right: 45px;}
	.topright > ul > li > a > span{display: none;}
	
	.dtimg{width:100%;}
	.dtright{width: 100%; padding: 0; margin: 15px 0;}
}

@media (max-width: 600px) {
 
}



